
<h1>自分の行ったことのある駅を記録できるアプリです。</h1>

<h3>使い方</h3>
<h4>1.ログインして頂いた後、メニュー画面から登録したい駅情報を探す。(都道府県、路線一覧からの方が探しやすいと思います。)</h4>
<h4>2.行ったことのある駅名の隣にある「未アクセス」ボタンを押して、「アクセス済み」にする。</h4>
<h4>3.以上です。都道府県、路線毎の駅取得情報は名前の横に表示されます。(ログイン状態のみ)</h4>
<h4>また、都道府県、路線、駅については各々専用ページがあります。そこで情報交換ができるようになっているので、是非活用ください。</h4>


<%= link_to "Tweet", twitter_tweet_path %>