<div class="container">
    <div class="container-child col-md-12 col-sm-12 col-xs-12 ">
        <blockquote>
      <h2><%= @user.name %></h2>
      <%= profile_img(@user) %>
      <br>
      <%= link_to "ユーザ情報編集" ,edit_user_registration_path %>
      </blockquote>
    </div>

    
</div>